<p id="notice"><%= notice %></p>

<h1>Here are all your diary entries.</h1>
<style>
.table {
   border: 5px solid red;
}
</style>

<table class="table container-sm">
  <thead>
    <tr>
    
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr class="card m-5 container-sm">
        <div class="card-body">
        <td class="card-title h2"><strong>Title: </strong><%= diary.tite %></td>
        <td class="card-text lead"><strong>Summary: </strong><%= diary.summary %></td>
        <td class="card-text"><strong>Description: </strong><%= diary.description %></td>
        <td class="card-text blockquote"><strong>Importance: </strong><%= diary.importance %></td>
        <td class="card-footer text-muted"<strong>Date: </strong><%= diary.date %></td>
        <td class="btn btn-sm btn-primary" ><%= link_to 'Show', diary %></td>
        <td class="btn btn-sm btn-success" ><%= link_to 'Edit', edit_diary_path(diary) %></td>
        <td class="btn btn-sm btn-danger" > <span class="sr-only">Danger: This action is not reversible </span>
        <%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary', new_diary_path %>
