<p id="notice"><%= notice %></p>

<div class="text-center border-dark">
<p class="text-dark">
  <strong >Tite:</strong>
  <%= @diary.tite %>
</p>

<p class="text-dark">
  <strong>Summary:</strong>
  <%= @diary.summary %>
</p>

<p class="text-dark">
  <strong>Description:</strong>
  <%= @diary.description %>
</p>

<p class="text-dark">
  <strong>Importance:</strong>
  <%= @diary.importance %>
</p>

<p class="text-dark">
  <strong>Date:</strong>
  <%= @diary.date %>
</p>
</div>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
